.HeaderTextField {
  height: 30px;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
  border: 1px solid;
  border-color: var(--color-gray);
  border-radius: var(--border-radius-main);
}

.HeaderTextField:hover {
  border: 1px solid var(--color-light-black);
}
.HeaderTextField:focus {
  border: 1px solid var(--color-light-black);
  outline: 3px solid var(--color-gray);
}
