.ConsolePageButton {
  display: flex;
  align-items: center;
  column-gap: 8px;
  border: none;
  border-radius: var(--border-radius-main);
  background-color: transparent;
  padding: 4px;

  font-family: inherit;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
}

.ConsolePageButton:hover,
.ConsolePageButton:focus {
  color: var(--color-blue);
}

.ConsolePageButton:hover svg path,
.ConsolePageButton:focus svg path {
  stroke: var(--color-blue);
}

.ConsolePageButton:focus {
  outline: 2px solid #45a5ff;
}
